################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages/TCore.1.0.0
/Nuget
/Nuget
/Nuget
/Nuget/New Text Document.txt
/TestApp/bin/x86/Debug/Core
/TestApp/bin/x86/Debug/TestView.xbf
/TestApp/bin/x86/Debug/TestBView.xbf
/TestApp/bin/x86/Debug/TestApp.xr.xml
/TestApp/bin/x86/Debug/TestApp.pdb
/TestApp/bin/x86/Debug/TestApp.exe
/TestApp/bin/x86/Debug/TestApp.build.appxrecipe
/TestApp/bin/x86/Debug/TCore.UniversalApp.pri
/TestApp/bin/x86/Debug/TCore.UniversalApp.pdb
/TestApp/bin/x86/Debug/TCore.UniversalApp.dll
/TestApp/bin/x86/Debug/System.Xml.XmlSerializer.dll
/TestApp/bin/x86/Debug/System.Xml.XmlDocument.dll
/TestApp/bin/x86/Debug/System.Xml.XDocument.dll
/TestApp/bin/x86/Debug/System.Xml.Serialization.dll
/TestApp/bin/x86/Debug/System.Xml.ReaderWriter.dll
/TestApp/bin/x86/Debug/System.Xml.Linq.dll
/TestApp/bin/x86/Debug/System.Xml.dll
/TestApp/bin/x86/Debug/System.Windows.dll
/TestApp/bin/x86/Debug/System.Threading.Timer.dll
/TestApp/bin/x86/Debug/System.Threading.Tasks.Parallel.dll
/TestApp/bin/x86/Debug/System.Threading.Tasks.Extensions.dll
/TestApp/bin/x86/Debug/System.Threading.Tasks.dll
/TestApp/bin/x86/Debug/System.Threading.Tasks.Dataflow.dll
/TestApp/bin/x86/Debug/System.Threading.Overlapped.dll
/TestApp/bin/x86/Debug/System.Threading.dll
/TestApp/bin/x86/Debug/System.Text.RegularExpressions.dll
/TestApp/bin/x86/Debug/System.Text.Encoding.Extensions.dll
/TestApp/bin/x86/Debug/System.Text.Encoding.dll
/TestApp/bin/x86/Debug/System.Text.Encoding.CodePages.dll
/TestApp/bin/x86/Debug/System.ServiceModel.Web.dll
/TestApp/bin/x86/Debug/System.ServiceModel.Security.dll
/TestApp/bin/x86/Debug/System.ServiceModel.Primitives.dll
/TestApp/bin/x86/Debug/System.ServiceModel.NetTcp.dll
/TestApp/bin/x86/Debug/System.ServiceModel.Http.dll
/TestApp/bin/x86/Debug/System.ServiceModel.Duplex.dll
/TestApp/bin/x86/Debug/System.ServiceModel.dll
/TestApp/bin/x86/Debug/System.Security.Principal.dll
/TestApp/bin/x86/Debug/System.Security.Cryptography.X509Certificates.dll
/TestApp/bin/x86/Debug/System.Security.Cryptography.Primitives.dll
/TestApp/bin/x86/Debug/System.Security.Cryptography.Encoding.dll
/TestApp/bin/x86/Debug/System.Security.Cryptography.Cng.dll
/TestApp/bin/x86/Debug/System.Security.Cryptography.Algorithms.dll
/TestApp/bin/x86/Debug/System.Security.Claims.dll
/TestApp/bin/x86/Debug/System.Runtime.WindowsRuntime.UI.Xaml.dll
/TestApp/bin/x86/Debug/System.Runtime.WindowsRuntime.dll
/TestApp/bin/x86/Debug/System.Runtime.Serialization.Xml.dll
/TestApp/bin/x86/Debug/System.Runtime.Serialization.Primitives.dll
/TestApp/bin/x86/Debug/System.Runtime.Serialization.Json.dll
/TestApp/bin/x86/Debug/System.Runtime.Serialization.dll
/TestApp/bin/x86/Debug/System.Runtime.Numerics.dll
/TestApp/bin/x86/Debug/System.Runtime.InteropServices.WindowsRuntime.dll
/TestApp/bin/x86/Debug/System.Runtime.InteropServices.dll
/TestApp/bin/x86/Debug/System.Runtime.Handles.dll
/TestApp/bin/x86/Debug/System.Runtime.Extensions.dll
/TestApp/bin/x86/Debug/System.Runtime.dll
/TestApp/bin/x86/Debug/System.Resources.ResourceManager.dll
/TestApp/bin/x86/Debug/System.Reflection.TypeExtensions.dll
/TestApp/bin/x86/Debug/System.Reflection.Primitives.dll
/TestApp/bin/x86/Debug/System.Reflection.Metadata.dll
/TestApp/bin/x86/Debug/System.Reflection.Extensions.dll
/TestApp/bin/x86/Debug/System.Reflection.Emit.Lightweight.dll
/TestApp/bin/x86/Debug/System.Reflection.Emit.ILGeneration.dll
/TestApp/bin/x86/Debug/System.Reflection.Emit.dll
/TestApp/bin/x86/Debug/System.Reflection.dll
/TestApp/bin/x86/Debug/System.Reflection.DispatchProxy.dll
/TestApp/bin/x86/Debug/System.Reflection.Context.dll
/TestApp/bin/x86/Debug/System.Private.Uri.dll
/TestApp/bin/x86/Debug/System.Private.ServiceModel.dll
/TestApp/bin/x86/Debug/System.Private.DataContractSerialization.dll
/TestApp/bin/x86/Debug/System.ObjectModel.dll
/TestApp/bin/x86/Debug/System.Numerics.Vectors.WindowsRuntime.dll
/TestApp/bin/x86/Debug/System.Numerics.Vectors.dll
/TestApp/bin/x86/Debug/System.Numerics.dll
/TestApp/bin/x86/Debug/System.Net.WebSockets.dll
/TestApp/bin/x86/Debug/System.Net.WebSockets.Client.dll
/TestApp/bin/x86/Debug/System.Net.WebHeaderCollection.dll
/TestApp/bin/x86/Debug/System.Net.Sockets.dll
/TestApp/bin/x86/Debug/System.Net.Requests.dll
/TestApp/bin/x86/Debug/System.Net.Primitives.dll
/TestApp/bin/x86/Debug/System.Net.NetworkInformation.dll
/TestApp/bin/x86/Debug/System.Net.NameResolution.dll
/TestApp/bin/x86/Debug/System.Net.Http.Rtc.dll
/TestApp/bin/x86/Debug/System.Net.Http.dll
/TestApp/bin/x86/Debug/System.Net.dll
/TestApp/bin/x86/Debug/System.Linq.Queryable.dll
/TestApp/bin/x86/Debug/System.Linq.Parallel.dll
/TestApp/bin/x86/Debug/System.Linq.Expressions.dll
/TestApp/bin/x86/Debug/System.Linq.dll
/TestApp/bin/x86/Debug/System.IO.UnmanagedMemoryStream.dll
/TestApp/bin/x86/Debug/System.IO.IsolatedStorage.dll
/TestApp/bin/x86/Debug/System.IO.FileSystem.Primitives.dll
/TestApp/bin/x86/Debug/System.IO.FileSystem.dll
/TestApp/bin/x86/Debug/System.IO.dll
/TestApp/bin/x86/Debug/System.IO.Compression.ZipFile.dll
/TestApp/bin/x86/Debug/System.IO.Compression.dll
/TestApp/bin/x86/Debug/System.Globalization.Extensions.dll
/TestApp/bin/x86/Debug/System.Globalization.dll
/TestApp/bin/x86/Debug/System.Globalization.Calendars.dll
/TestApp/bin/x86/Debug/System.Dynamic.Runtime.dll
/TestApp/bin/x86/Debug/System.dll
/TestApp/bin/x86/Debug/System.Diagnostics.Tracing.dll
/TestApp/bin/x86/Debug/System.Diagnostics.Tools.dll
/TestApp/bin/x86/Debug/System.Diagnostics.StackTrace.dll
/TestApp/bin/x86/Debug/System.Diagnostics.DiagnosticSource.dll
/TestApp/bin/x86/Debug/System.Diagnostics.Debug.dll
/TestApp/bin/x86/Debug/System.Diagnostics.Contracts.dll
/TestApp/bin/x86/Debug/System.Data.Common.dll
/TestApp/bin/x86/Debug/System.Core.dll
/TestApp/bin/x86/Debug/System.ComponentModel.EventBasedAsync.dll
/TestApp/bin/x86/Debug/System.ComponentModel.dll
/TestApp/bin/x86/Debug/System.ComponentModel.DataAnnotations.dll
/TestApp/bin/x86/Debug/System.ComponentModel.Annotations.dll
/TestApp/bin/x86/Debug/System.Collections.Specialized.dll
/TestApp/bin/x86/Debug/System.Collections.NonGeneric.dll
/TestApp/bin/x86/Debug/System.Collections.Immutable.dll
/TestApp/bin/x86/Debug/System.Collections.dll
/TestApp/bin/x86/Debug/System.Collections.Concurrent.dll
/TestApp/bin/x86/Debug/System.Buffers.dll
/TestApp/bin/x86/Debug/System.AppContext.dll
/TestApp/bin/x86/Debug/resources.pri
/TestApp/bin/x86/Debug/Microsoft.Xaml.Interactivity.dll
/TestApp/bin/x86/Debug/Microsoft.Xaml.Interactions.dll
/TestApp/bin/x86/Debug/Microsoft.Win32.Primitives.dll
/TestApp/bin/x86/Debug/Microsoft.VisualBasic.dll
/TestApp/bin/x86/Debug/Microsoft.CSharp.dll
/TestApp/bin/x86/Debug/MainPage.xbf
/TestApp/bin/x86/Debug/clrjit.dll
/TestApp/bin/x86/Debug/clrcompression.dll
/TestApp/bin/x86/Debug/AppxManifest.xml
/TestApp/bin/x86/Debug/App.xbf
