################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages/TCore.1.0.0
/Nuget
/Nuget
/Nuget
/Nuget/New Text Document.txt
